* {
    margin: 0;
}

.banner {
    height: 500px;
    background-image: url('images/wes-hicks-MEL-jJnm7RQ-unsplash.jpg');
    background-size: 2560px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(23,32,41);
}

.title {
    text-align: center;
    position: relative;
    top: 200px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

nav > a {
    width: 100px;
    text-align: center;
}