/* Override global stylesheet */
* {
    margin: 0;
}


/* Banner section */
.banner {
    height: 500px;
    background-image: url('images/wes-hicks-MEL-jJnm7RQ-unsplash.jpg');
    background-size: 2560px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(23,32,41);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-background {
    background-color: aliceblue;
    height: 100px;
    display: flex;
    justify-content: center;
    opacity: 0.6;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Navigation bar section */
nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.navigation-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EDCDBB;
    flex-grow: 1;
    margin: 2px;
}

.navigation-item:hover {
    background-color: #FFEDDB;
    transition: background-color 0.2s;
}

.navigation-item:active {
    background-color: #E3B7A0;
}

.navigation-item > a {
    text-align: center;
}


/* Applies to all main sections (About, Activities, Events) */
.main-section {
    padding: 50px 20px;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

.main-section > p {
    margin: 20px 0;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: center;
}

.image-text-container {
    flex-basis: 400px;
    margin: 10px 20px;
}

.image-container {
    border: 1px solid black;
    height: 300px;
}

.image-container > img {
    max-height: 100%;
}

.text-container {
    border: 1px solid black;
    height: 100px;
    margin-top: 5px;
}

.text-container > h3 {
    text-align: center;
}