/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

/* Examples:
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

/*
Reading materials"
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units
https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Media_queries
*/


/* Override global stylesheet */
* {
    margin: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

/* Banner section */
.banner {
    height: 40rem;
    background-image: url('images/original/wes-hicks-MEL-jJnm7RQ-unsplash.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(23,32,41);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-background {
    background-color: rgba(240,248,255,0.6);
    height: 10rem;
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4em;
}

/* Navigation bar section */
nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.navigation-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EDCDBB;
    flex-grow: 1;
    margin: 2px;
}

.navigation-item:hover {
    background-color: #FFEDDB;
    transition: background-color 0.2s;
}

.navigation-item:active {
    background-color: #E3B7A0;
}

.navigation-item > a {
    text-align: center;
    font-size: 1.2em;
}


/* Applies to all main sections (About, Activities, Events) */
.main-section {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}

.main-section > p {
    margin: 20px 0;
    text-align: center;
    font-size: 1.4em;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0;
}

.image-text-container {
    margin: 10px 20px;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    height: 75%;
    width: 100%;
    margin: 15px 0;
}

.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-text-container, .description-text-container {
    width: 100%;
}

.title-text-container > h3 {
    text-align: center;
    font-size: 1.4em;
}

.title-text-container > p, .description-text-container > p {
    text-align: center;
    font-size: 1.2em;
}